<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TAIS_Server_NewGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <TAIS_Server_NewGen.Properties.Settings>
      <setting name="AmadeusSourcePath" serializeAs="String">
        <value />
      </setting>
      <setting name="AmadeusProcessedPath" serializeAs="String">
        <value />
      </setting>
      <setting name="IATALocationPath" serializeAs="String">
        <value />
      </setting>
      <setting name="CebuPacificSourcePath" serializeAs="String">
        <value />
      </setting>
      <setting name="CebuPacificProcessedPath" serializeAs="String">
        <value />
      </setting>
      <setting name="CebuPacificLocationPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SabreSourcePath" serializeAs="String">
        <value />
      </setting>
      <setting name="SabreProcessedPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SabreLocationPath" serializeAs="String">
        <value />
      </setting>
      <setting name="IASALocationPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SpecialClientPath" serializeAs="String">
        <value />
      </setting>
      <setting name="OtherPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LogsPath" serializeAs="String">
        <value />
      </setting>
      <setting name="AmadeusErrorPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SabreErrorPath" serializeAs="String">
        <value />
      </setting>
      <setting name="CebuPacificErrorPath" serializeAs="String">
        <value />
      </setting>
    </TAIS_Server_NewGen.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings><add name="TAISEntities" connectionString="metadata=res://*/TAISEntity.csdl|res://*/TAISEntity.ssdl|res://*/TAISEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=TAIS;user id=sa;password=secret;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="TravComEntities" connectionString="metadata=res://*/TravComEntity.csdl|res://*/TravComEntity.ssdl|res://*/TravComEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.6;initial catalog=TravCom;user id=sa;password=password123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>